In [79]:
import pandas as pd

# Cargar datos de cada hoja en DataFrames separados
excel_file = pd.ExcelFile("US_Regional_Sales_Data.xlsx")

sheet_names = excel_file.sheet_names

# dataframes = {}  # Diccionario para almacenar los DataFrames

# for sheet_name in sheet_names:
#     dataframes[sheet_name] = excel_file.parse(sheet_name)

sheet_names

['Sales Orders Sheet',
 'Customers Sheet',
 'Store Locations Sheet',
 'Products Sheet',
 'Sales Team Sheet']

In [22]:
df_sales = pd.read_excel("US_Regional_Sales_Data.xlsx", sheet_name = 'Sales Orders Sheet')

df_customers = pd.read_excel("US_Regional_Sales_Data.xlsx", sheet_name = 'Customers Sheet')

df_stores = pd.read_excel("US_Regional_Sales_Data.xlsx", sheet_name = 'Store Locations Sheet')

df_products = pd.read_excel("US_Regional_Sales_Data.xlsx", sheet_name = 'Products Sheet')

df_teams = pd.read_excel("US_Regional_Sales_Data.xlsx", sheet_name = 'Sales Team Sheet')

In [25]:
df_base = df_sales.merge(df_customers, validate = 'many_to_one').\
                   merge(df_stores, validate = 'many_to_one').\
                   merge(df_products, validate = 'many_to_one').\
                   merge(df_teams, validate = 'many_to_one')
df_base

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,...,AreaCode,Population,Household Income,Median Income,Land Area,Water Area,Time Zone,Product Name,Sales Team,Region
0,SO - 000101,In-Store,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-14,2018-06-19,USD,6,15,...,631,213776,68789,80327,135481314,160302131,America/New York,Dining Furniture,Joshua Bennett,Northeast
1,SO - 0002491,In-Store,WARE-NMK1003,2018-10-27,2019-03-06,2019-03-25,2019-03-30,USD,6,11,...,478,153515,57025,36568,645603627,14488557,America/New York,Dining Furniture,Joshua Bennett,Northeast
2,SO - 0001458,In-Store,WARE-NMK1003,2018-07-19,2018-11-09,2018-11-11,2018-11-17,USD,6,12,...,719,456568,174441,54527,506667557,947196,America/Denver,Dining Furniture,Joshua Bennett,Northeast
3,SO - 0005166,In-Store,WARE-PUJ1005,2019-08-23,2020-01-22,2020-01-28,2020-01-31,USD,6,7,...,716,258071,110549,31918,104592941,31362925,America/New York,Dining Furniture,Joshua Bennett,Northeast
4,SO - 0002439,In-Store,WARE-UHY1004,2018-10-27,2019-02-26,2019-03-06,2019-03-10,USD,6,33,...,702,223182,88401,43911,121034884,0,America/Los Angeles,Dining Furniture,Joshua Bennett,Northeast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,SO - 0003465,In-Store,WARE-PUJ1005,2019-05-15,2019-06-30,2019-07-27,2019-08-01,USD,11,35,...,956,255473,66308,39711,261900969,3788915,America/Chicago,Pillows,Joshua Little,South
7987,SO - 0002097,In-Store,WARE-MKL1006,2018-10-27,2019-01-16,2019-02-13,2019-02-23,USD,11,39,...,832,153784,49256,48004,112645407,3870729,America/Chicago,Pillows,Joshua Little,South
7988,SO - 0001648,In-Store,WARE-NMK1003,2018-07-19,2018-12-02,2018-12-22,2018-12-29,USD,11,17,...,630,102708,37133,88282,90385339,2423679,America/Chicago,Pillows,Joshua Little,South
7989,SO - 0006241,In-Store,WARE-XYS1001,2019-12-01,2020-05-29,2020-06-04,2020-06-11,USD,11,44,...,480,471825,168914,48809,357097953,1950781,America/Phoenix,Bathroom Furniture,Joshua Little,South
7990,SO - 000645,In-Store,WARE-PUJ1005,2018-04-10,2018-08-04,2018-08-27,2018-09-02,USD,11,13,...,503,632309,254167,55003,345657944,30147582,America/Los Angeles,Bathroom Furniture,Joshua Little,South

In [28]:
# Calcular ProcurementDays, ShippingDays, DeliveryDays y CustomerDays
df_base["ProcurementDays"] = (df_base["OrderDate"] - df_base["ProcuredDate"]).dt.days
df_base["ShippingDays"] = (df_base["ShipDate"] - df_base["OrderDate"]).dt.days
df_base["DeliveryDays"] = (df_base["DeliveryDate"] - df_base["ShipDate"]).dt.days
df_base["CustomerDays"] = df_base["ShippingDays"] + df_base["DeliveryDays"]
df_base

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,...,Land Area,Water Area,Time Zone,Product Name,Sales Team,Region,ProcurementDays,ShippingDays,DeliveryDays,CustomerDays
0,SO - 000101,In-Store,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-14,2018-06-19,USD,6,15,...,135481314,160302131,America/New York,Dining Furniture,Joshua Bennett,Northeast,151,14,5,19
1,SO - 0002491,In-Store,WARE-NMK1003,2018-10-27,2019-03-06,2019-03-25,2019-03-30,USD,6,11,...,645603627,14488557,America/New York,Dining Furniture,Joshua Bennett,Northeast,130,19,5,24
2,SO - 0001458,In-Store,WARE-NMK1003,2018-07-19,2018-11-09,2018-11-11,2018-11-17,USD,6,12,...,506667557,947196,America/Denver,Dining Furniture,Joshua Bennett,Northeast,113,2,6,8
3,SO - 0005166,In-Store,WARE-PUJ1005,2019-08-23,2020-01-22,2020-01-28,2020-01-31,USD,6,7,...,104592941,31362925,America/New York,Dining Furniture,Joshua Bennett,Northeast,152,6,3,9
4,SO - 0002439,In-Store,WARE-UHY1004,2018-10-27,2019-02-26,2019-03-06,2019-03-10,USD,6,33,...,121034884,0,America/Los Angeles,Dining Furniture,Joshua Bennett,Northeast,122,8,4,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,SO - 0003465,In-Store,WARE-PUJ1005,2019-05-15,2019-06-30,2019-07-27,2019-08-01,USD,11,35,...,261900969,3788915,America/Chicago,Pillows,Joshua Little,South,46,27,5,32
7987,SO - 0002097,In-Store,WARE-MKL1006,2018-10-27,2019-01-16,2019-02-13,2019-02-23,USD,11,39,...,112645407,3870729,America/Chicago,Pillows,Joshua Little,South,81,28,10,38
7988,SO - 0001648,In-Store,WARE-NMK1003,2018-07-19,2018-12-02,2018-12-22,2018-12-29,USD,11,17,...,90385339,2423679,America/Chicago,Pillows,Joshua Little,South,136,20,7,27
7989,SO - 0006241,In-Store,WARE-XYS1001,2019-12-01,2020-05-29,2020-06-04,2020-06-11,USD,11,44,...,357097953,1950781,America/Phoenix,Bathroom Furniture,Joshua Little,South,180,6,7,13
7990,SO - 000645,In-Store,WARE-PUJ1005,2018-04-10,2018-08-04,2018-08-27,2018-09-02,USD,11,13,...,345657944,30147582,America/Los Angeles,Bathroom Furniture,Joshua Little,South,116,23,6,29

In [34]:
# Agregar la columna CustomerDaysInterval
df_base["CustomerDaysInterval"] = pd.cut(
    df_base["CustomerDays"],
    bins=[0, 15, 30, 45, 60, 75, 90],
    labels=[
        "0 to 15 days",
        "15 to 30 days",
        "30 to 45 days",
        "45 to 60 days",
        "60 to 75 days",
        "75 to 90 days",
    ],
)

df_base[["CustomerDays", "CustomerDaysInterval"]]

      CustomerDays CustomerDaysInterval
0               19        15 to 30 days
1               24        15 to 30 days
2                8         0 to 15 days
3                9         0 to 15 days
4               12         0 to 15 days
...            ...                  ...
7986            32        30 to 45 days
7987            38        30 to 45 days
7988            27        15 to 30 days
7989            13         0 to 15 days
7990            29        15 to 30 days

[7991 rows x 2 columns]

In [36]:
# Crear una tabla pivote para el conteo de órdenes
pivot_table1 = pd.pivot_table(
    df_base,
    values="OrderNumber",
    index="Sales Team",
    columns="CustomerDaysInterval",
    aggfunc="count",
    fill_value=0,
    margins=True,
)
pivot_table1

CustomerDaysInterval,0 to 15 days,15 to 30 days,30 to 45 days,45 to 60 days,60 to 75 days,75 to 90 days,All
Sales Team,,,,,,,
Adam Hernandez,81,179,42,0,0,0,302
Anthony Berry,76,181,41,0,0,0,298
Anthony Torres,81,162,45,0,0,0,288
Carl Nguyen,96,178,40,0,0,0,314
Carlos Miller,65,148,34,0,0,0,247
Chris Armstrong,92,156,44,0,0,0,292
Donald Reynolds,97,163,36,0,0,0,296
Douglas Tucker,87,145,45,0,0,0,277
Frank Brown,85,150,40,0,0,0,275
George Lewis,104,169,42,0,0,0,315
Jerry Green,85,165,46,0,0,0,296
Joe Price,87,138,41,0,0,0,266
Jonathan Hawkins,81,143,36,0,0,0,260
Joshua Bennett,85,148,32,0,0,0,265
Joshua Little,83,165,41,0,0,0,289
Joshua Ryan,83,166,36,0,0,0,285
Keith Griffin,94,127,25,0,0,0,246
Nicholas Cunningham,88,171,34,0,0,0,293
Patrick Graham,92,130,37,0,0,0,259
Paul Holmes,61,159,41,0,0,0,261
Roger Alexander,82,147,42,0,0,0,271
Roy Rice,75,166,43,0,0,0,284
Samuel Fowler,90,162,44,0,0,0,296
Shawn Cook,88,175,40,0,0,0,303
Shawn Torres,77,160,37,0,0,0,274
Shawn Wallace,95,168,53,0,0,0,316
Stephen Payne,97,156,30,0,0,0,283
Todd Roberts,113,187,40,0,0,0,340
All,2420,4464,1107,0,0,0,7991

In [65]:
# Calcular GrossMargin
df_base["GrossMargin"] = df_base["Order Quantity"]*(df_base["Unit Price"]*(1-df_base["Discount Applied"])-df_base["Unit Cost"])
df_base

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,...,Region,ProcurementDays,ShippingDays,DeliveryDays,CustomerDays,CustomerDaysInterval,GrossMargin,CommissionsPercentage,CommissionsAmount,CommissionsPercentageNumeric
0,SO - 000101,In-Store,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-14,2018-06-19,USD,6,15,...,Northeast,151,14,5,19,15 to 30 days,4073.4325,15%,611.014875,15.0
1,SO - 0002491,In-Store,WARE-NMK1003,2018-10-27,2019-03-06,2019-03-25,2019-03-30,USD,6,11,...,Northeast,130,19,5,24,15 to 30 days,1988.0910,15%,298.213650,15.0
2,SO - 0001458,In-Store,WARE-NMK1003,2018-07-19,2018-11-09,2018-11-11,2018-11-17,USD,6,12,...,Northeast,113,2,6,8,0 to 15 days,2185.2720,15%,327.790800,15.0
3,SO - 0005166,In-Store,WARE-PUJ1005,2019-08-23,2020-01-22,2020-01-28,2020-01-31,USD,6,7,...,Northeast,152,6,3,9,0 to 15 days,4296.3750,15%,644.456250,15.0
4,SO - 0002439,In-Store,WARE-UHY1004,2018-10-27,2019-02-26,2019-03-06,2019-03-10,USD,6,33,...,Northeast,122,8,4,12,0 to 15 days,1118.5650,15%,167.784750,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,SO - 0003465,In-Store,WARE-PUJ1005,2019-05-15,2019-06-30,2019-07-27,2019-08-01,USD,11,35,...,South,46,27,5,32,30 to 45 days,643.8700,10%,64.387000,10.0
7987,SO - 0002097,In-Store,WARE-MKL1006,2018-10-27,2019-01-16,2019-02-13,2019-02-23,USD,11,39,...,South,81,28,10,38,30 to 45 days,763.8000,10%,76.380000,10.0
7988,SO - 0001648,In-Store,WARE-NMK1003,2018-07-19,2018-12-02,2018-12-22,2018-12-29,USD,11,17,...,South,136,20,7,27,15 to 30 days,1763.1720,15%,264.475800,15.0
7989,SO - 0006241,In-Store,WARE-XYS1001,2019-12-01,2020-05-29,2020-06-04,2020-06-11,USD,11,44,...,South,180,6,7,13,0 to 15 days,1917.5400,15%,287.631000,15.0
7990,SO - 000645,In-Store,WARE-PUJ1005,2018-04-10,2018-08-04,2018-08-27,2018-09-02,USD,11,13,...,South,116,23,6,29,15 to 30 days,-553.5540,NaN,NaN,NaN

In [66]:
# Definir los intervalos y etiquetas en formato de porcentaje
intervalos_margen = [0, 100, 1000, 10000, 100000]
etiquetas_margen = ['5%', '10%', '15%', '20%']

# Discretizar y asignar etiquetas en formato de porcentaje a la columna "CommissionsPercentage"
df_base["CommissionsPercentage"] = pd.cut(df_base["GrossMargin"], bins=intervalos_margen, labels=etiquetas_margen, right=False)

# Mostrar las columnas "GrossMargin" y "CommissionsPercentage"
df_base

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,...,Region,ProcurementDays,ShippingDays,DeliveryDays,CustomerDays,CustomerDaysInterval,GrossMargin,CommissionsPercentage,CommissionsAmount,CommissionsPercentageNumeric
0,SO - 000101,In-Store,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-14,2018-06-19,USD,6,15,...,Northeast,151,14,5,19,15 to 30 days,4073.4325,15%,611.014875,15.0
1,SO - 0002491,In-Store,WARE-NMK1003,2018-10-27,2019-03-06,2019-03-25,2019-03-30,USD,6,11,...,Northeast,130,19,5,24,15 to 30 days,1988.0910,15%,298.213650,15.0
2,SO - 0001458,In-Store,WARE-NMK1003,2018-07-19,2018-11-09,2018-11-11,2018-11-17,USD,6,12,...,Northeast,113,2,6,8,0 to 15 days,2185.2720,15%,327.790800,15.0
3,SO - 0005166,In-Store,WARE-PUJ1005,2019-08-23,2020-01-22,2020-01-28,2020-01-31,USD,6,7,...,Northeast,152,6,3,9,0 to 15 days,4296.3750,15%,644.456250,15.0
4,SO - 0002439,In-Store,WARE-UHY1004,2018-10-27,2019-02-26,2019-03-06,2019-03-10,USD,6,33,...,Northeast,122,8,4,12,0 to 15 days,1118.5650,15%,167.784750,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,SO - 0003465,In-Store,WARE-PUJ1005,2019-05-15,2019-06-30,2019-07-27,2019-08-01,USD,11,35,...,South,46,27,5,32,30 to 45 days,643.8700,10%,64.387000,10.0
7987,SO - 0002097,In-Store,WARE-MKL1006,2018-10-27,2019-01-16,2019-02-13,2019-02-23,USD,11,39,...,South,81,28,10,38,30 to 45 days,763.8000,10%,76.380000,10.0
7988,SO - 0001648,In-Store,WARE-NMK1003,2018-07-19,2018-12-02,2018-12-22,2018-12-29,USD,11,17,...,South,136,20,7,27,15 to 30 days,1763.1720,15%,264.475800,15.0
7989,SO - 0006241,In-Store,WARE-XYS1001,2019-12-01,2020-05-29,2020-06-04,2020-06-11,USD,11,44,...,South,180,6,7,13,0 to 15 days,1917.5400,15%,287.631000,15.0
7990,SO - 000645,In-Store,WARE-PUJ1005,2018-04-10,2018-08-04,2018-08-27,2018-09-02,USD,11,13,...,South,116,23,6,29,15 to 30 days,-553.5540,NaN,NaN,NaN

In [76]:
# Mantener la columna "CommissionsPercentage" en formato de porcentaje entero para su visualización
# y convertirla a valores numéricos enteros para cálculos
#df_base["CommissionsPercentageNumeric"] = df_base["CommissionsPercentage"].str.rstrip('%').astype(int)

# Calcular la columna "CommissionsAmount" como el producto de "GrossMargin" y "CommissionsPercentageNumeric"
df_base['CommissionsAmount'] = df_base['GrossMargin'] * df_base['CommissionsPercentageNumeric'] // 100

# mostrar "CommissionsPercentage" en formato de porcentaje 
df_base['CommissionsPercentage'] = df_base['CommissionsPercentageNumeric'].map(lambda x: f'{x}%')
df_base[['GrossMargin', 'CommissionsPercentage', 'CommissionsAmount']]

      GrossMargin CommissionsPercentage  CommissionsAmount
0       4073.4325                 15.0%              611.0
1       1988.0910                 15.0%              298.0
2       2185.2720                 15.0%              327.0
3       4296.3750                 15.0%              644.0
4       1118.5650                 15.0%              167.0
...           ...                   ...                ...
7986     643.8700                 10.0%               64.0
7987     763.8000                 10.0%               76.0
7988    1763.1720                 15.0%              264.0
7989    1917.5400                 15.0%              287.0
7990    -553.5540                  nan%                NaN

[7991 rows x 3 columns]

In [78]:
# Calcular la columna "NetMargin" restando "CommissionsAmount" de "GrossMargin"
df_base['NetMargin'] = df_base['GrossMargin'] - df_base['CommissionsAmount']

# Mostrar las columnas "GrossMargin", "CommissionsAmount" y "NetMargin"
df_base[['GrossMargin', 'CommissionsAmount', 'NetMargin']]

      GrossMargin  CommissionsAmount  NetMargin
0       4073.4325              611.0  3462.4325
1       1988.0910              298.0  1690.0910
2       2185.2720              327.0  1858.2720
3       4296.3750              644.0  3652.3750
4       1118.5650              167.0   951.5650
...           ...                ...        ...
7986     643.8700               64.0   579.8700
7987     763.8000               76.0   687.8000
7988    1763.1720              264.0  1499.1720
7989    1917.5400              287.0  1630.5400
7990    -553.5540                NaN        NaN

[7991 rows x 3 columns]